* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

::-webkit-scrollbar-thumb:active {
  background: #000000;
}

::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: #666666;
}

::-webkit-scrollbar-track:active {
  background: #333333;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: rgb(200, 200, 200);
  background-color: rgb(39, 43, 48);
  * background-color: transparent;
  padding: 0;
  margin: 0;
}


/**
 * Runner Title
 */

.component-runner-title {
  width: 100%;
  height: auto;
}

.component-runner-title .title {
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 15px;
  padding: 10px;
}


/**
 * Runner Split list/Splits
 */

.component-runner-splits {
  width: 100%;
  height: 200px;
  overflow-y: scroll;
  border-bottom: 1px solid #353a41;
}

.component-runner-splits .table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  background-color: #2e3338;
  border-collapse: collapse;
  border-spacing: 0;
}

.component-runner-splits .table tr:nth-of-type(2n+1) {
  background-color: #353a41;
}

.component-runner-splits .table tr.selected {
  background-color: #688cbf;
}

.component-runner-splits .table tr td {
  padding: 8px 4px;
  vertical-align: middle;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.component-runner-splits .table tr td:first-child {
  padding-left: 10px;
}

.component-runner-splits .table tr td:last-child {
  text-align: right;
  padding-right: 10px;
}

.component-runner-splits .table tr td:nth-child(2) {
  text-align: left;
}

.component-runner-splits .table tr td:nth-child(3) {
  text-align: right;
}

.component-runner-splits .table tr td img {
  width: 16px;
  height: 16px;
}


/**
 * Runner Timer
 */

.component-runner-timer {
  padding: 10px;
}

.component-runner-timer .timer {
  color: #008751;
  font-size: 40px;
  text-align: right;
}
